/* CARDS */
.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    overflow: auto;
    padding-bottom: 10px;
    cursor: grab;
    scroll-behavior: smooth;
    user-select: none;
}

.cards-container::-webkit-scrollbar {
    display: none
}

div:has(.cards-container) {
    width: 100%;
}


/* CARD */

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    border-radius: 10px;
    width: 310px;
    padding: 5px;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.17);
}

.card.little {
    width: 210px;
}

.card img {
    border-radius: 5px 5px 0px 0px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card div {
    margin: 10px;
}

.card h4 {
    text-align: center;
    margin-bottom: 10px;
}

/* BOX */
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: var(--light);
    border-radius: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

