.button {
    text-decoration: none;
    color: white;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 18px 30px;
    border-radius: 50px;
    background-color: var(--primary-orange);
    transition: ease-in-out 0.2s;
}

.button:hover {
    background-color: var(--hovered-orange);
}

.button:disabled {
    background-color: var(--medium);
}