.button,
.button.orange {
    text-decoration: none;
    color: var(--light);
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: fit-content;
    height: fit-content;
    padding: 15px 30px;
    border-radius: 50px;
    background-color: var(--primary-orange);
    transition: ease-in-out 0.2s;
}

.button:hover,
.button.orange:hover {
    background-color: var(--hovered-orange);
}

.button.disabled {
    background-color: var(--medium);
}

.button.secondary,
.button.orange.secondary {
    border: 2px solid var(--primary-orange);
    background-color: transparent;
    color: var(--primary-orange);
}

.button.secondary:hover,
.button.orange.secondary:hover {
    border: 2px solid var(--hovered-orange);
    color: var(--hovered-orange);
}

.button.blue {
    background-color: var(--primary-blue);
}

.button.blue:hover {
    background-color: var(--hovered-blue);
}

.button.blue.secondary {
    border: 2px solid var(--primary-blue);
    background-color: transparent;
    color: var(--primary-blue);
}

.button.blue.secondary:hover {
    border: 2px solid var(--hovered-blue);
    color: var(--hovered-blue);
}

/* LINKS */
.link {
    text-decoration: none;
    color: var(--light);
}

.link:hover {
    text-decoration: underline;
}

a.link img {
    cursor: pointer;
    height: 35px;
    transition: transform 0.2s;
}

a.link img:hover {
    transform: scale(1.3);
}