body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #282F63;
    background-image: url('/assets/img/error-background.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    color: #fff;
    padding-left: 100px;
}

body div {
    margin-bottom: 50px;
}

h1 {
    font-family: "Goia", sans-serif;
    font-size: 128px;
    font-weight: 600;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

img {
    height: 60px;
}