footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background-dark);
    color: var(--light);
    padding: 50px 75px;
}

footer > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer img {
    max-width: 200px;
}

footer .button {
    width: 100%;
    text-align: center;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

@media all and (max-width: 1050px) {
    footer {
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }

    footer > div {
        align-items: center;
        text-align: center;
    }
}