.header {
    display: flex;
    width: 100%;
    padding: 25px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
}

.header img {
    height: 40px;
}