header {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    padding: 25px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
}

header img {
    height: 40px;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0;
    background-color: var(--tertiary-blue);
    background-image: url('/assets/img/lmu-logo-for-titles.png');
    background-repeat: no-repeat;
    color: var(--primary-blue);
}


.side-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 10;
    display: none;
    flex-direction: column;
    gap: 15px;
    background-color: var(--light);
}

@media all and (min-width: 800px) {
    .menu-button {
        display: none !important;
    }

    .side-menu {
        display: none !important;
    }

}

@media all and (max-width: 800px) {
    header>a>img,
    header>a.button {
        display: none;
    }
}

@media all and (max-width: 600px) {
    .header { 
        flex-direction: column;
        gap: 15px;
    }
}