.top-container {
    height: 100dvh;
    overflow: hidden;
}

.top-container .top-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: url(/assets/img/landing-page-background.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-left: 100px;
}

.top-container .top-content>div {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 10px;
    background-color: var(--primary-blue);
    color: var(--light);
}

.keynums {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px auto;
    width: 100%;
}

.keynums div {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    position: relative;
}

.keynums h1 {
    font-size: 72px;
    margin-bottom: 10px;
}

.keynums div:nth-child(odd) h1,
.keynums div:nth-child(even) p {
    margin-right: 100px;
    text-align: left;
}

.keynums div:nth-child(even) h1,
.keynums div:nth-child(odd) p {
    margin-left: 100px;
    text-align: right;
}

.blue-bg {
    background-color: var(--tertiary-blue);
    color: var(--primary-blue);
    top: 75px;
    right: 100px;
    z-index: 1;
}

.red-bg {
    background-color: var(--tertiary-orange);
    color: var(--primary-orange);
    z-index: 0;
    left: 100px;
    top: 0px;
}

.green-bg {
    background-color: var(--tertiary-green);
    color: var(--primary-green);
    bottom: 50px;
    right: 100px;
    z-index: -1;
}

.they-speak {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: var(--tertiary-blue);
}

.scroller {
    overflow: auto;
    padding-bottom: 10px;
    cursor: grab;
    scroll-behavior: smooth;
    user-select: none;
}

.scroller::-webkit-scrollbar {
    display: none
}

.carrousel-controller {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

@media all and (max-width: 1050px) {
    .keynums {
        margin: 0;
    }

    .keynums div:nth-child(odd) h1,
    .keynums div:nth-child(even) p,
    .keynums div:nth-child(odd) p,
    .keynums div:nth-child(even) h1 {
        margin: 0;
        text-align: left;
    }

    .keynums div {
        top: initial;
        left: initial;
        right: initial;
        bottom: initial;
        border-radius: 0;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

}

@media all and (max-width: 900px) {
    .top-container .top-content {
        padding: 10px;
        justify-content: center;
    }
}

@media all and (max-width: 350px) {
    .keynums div {
        flex-direction: column;
        gap: 10px;
    }
}