.top-container {
    height: 100dvh;
    overflow: hidden;
}

.top-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: url(/assets/img/landing-page-background.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-left: 100px;
}

.top-content > div {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 10px;
    background-color: var(--primary-blue);
    color: var(--light);
}

.keynums {
    margin: 100px auto;
}

.keynums > div {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
}

.keynums h1 {
    font-size: 72px;
    margin-bottom: 10px;
}

.blue-bg {
    background-color: var(--tertiary-blue);
    color: var(--primary-blue);
}

.red-bg {
    background-color: var(--tertiary-orange);
    color: var(--primary-orange);
}

.green-bg {
    background-color: var(--tertiary-green);
    color: var(--primary-green);
}

.they-speak {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: var(--tertiary-blue);
}

.press-releases {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: var(--primary-blue);
    color: var(--light);
}