.top-container {
    height: 100dvh;
    overflow: hidden;
}

.top-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: url(/assets/img/landing-page-background.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-left: 100px;
}

.top-content > div {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 10px;
    background-color: var(--primary-blue);
    color: var(--light);
}