body { background-color: #f8f9fa; }

.app-header {
    background-color: white;
    border-bottom: 1px solid #dee2e6;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}
.logo-container img {
    width: 30px; 
    margin-right: 10px;
}
.app-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #343a40;
}
.university-name {
    color: #880000;
    font-weight: 600;
}

.app-container {
    display: flex;
    min-height: calc(100vh - 56px);
}

.sidebar {
    width: 250px; 
    background-color: white;
    padding: 20px 0;
    flex-shrink: 0;
}

.menu-item {
    border: none;
    border-radius: 0.25rem;
    margin: 5px 15px;
    color: #343a40; 
    font-weight: 500;
}

.menu-item:hover {
    background-color: #f0f0f0;
    color: #000;
}

.menu-item.active-accueil {
    background-color: #A0402C; 
    color: white;
}

.menu-item.logout-btn {
    margin-top: 20px; 
    background-color: #880000; 
    color: white;
}
.menu-item.logout-btn:hover {
    background-color: #6a0000;
    color: white;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white; 
}

.role-badge {
    background-color: #f7e2d9;
    color: #a0402c;
    padding: 0.5em 0.75em;
    font-size: 1em;
    border-radius: 0.25rem;
    font-weight: 500;
    }

.menu-item.active {
    background-color: #A0402C !important;
    color: white !important;
   }
