.prs-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 50px;
}

.pr-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.pr-container:not(:last-child) {
    border-bottom: 2px solid var(--medium);
}

.top-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.publisher {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}