.press-releases {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: var(--primary-blue);
    color: var(--light);
}

.prs-container {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}

.pr-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.pr-container.alone {
    background-color: var(--light);
    color: var(--dark);
    border-radius: 10px;
    margin: 10px 0;
}

.pr-container:not(:last-child):not(.alone) {
    border-bottom: 2px solid var(--medium);
}

.top-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.publisher {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

@media all and (max-width: 800px) {
    .press-releases,
    .prs-container {
        padding: 20px;
    }
}

@media all and (max-width: 600px) {
    .publisher {
        flex-direction: column;
        align-items: flex-start;
    }
}