.product-img {
    display: grid;
    gap: 20px;
}

.product-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.product-img.grid2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.product-img.grid3 img:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
}

.product-img.grid3,
.product-img.grid4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.product-img.grid3 img:nth-child(2),
.product-img.grid3 img:nth-child(3),
.product-img.grid4 img {
    max-height: 300px;
}

.product-img~.column h3 {
    width: 300px;
}