.profile > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.profile img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    max-width: 200px;
}

.profile div div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}