form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 2px solid var(--medium);
}

form button.icon {
  background-color: transparent;
  border: 0;
  outline: 0;
  margin: 10px;
  cursor: pointer;
  color: var(--medium);
}

form input {
  border: 0;
  outline: 0;
  background-color: transparent;
  width: 400px;
}
